In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("./DATA/data.csv")

In [4]:
from autoviz.AutoViz_Class import AutoViz_Class

Imported v0.1.808. Please call AutoViz in this sequence:
    AV = AutoViz_Class()
    %matplotlib inline
    dfte = AV.AutoViz(filename, sep=',', depVar='', dfte=None, header=0, verbose=1, lowess=False,
               chart_format='svg',max_rows_analyzed=150000,max_cols_analyzed=30, save_plot_dir=None)

In [5]:
AV = AutoViz_Class()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
filename = 'data.csv'
sep = ','
dft = AV.AutoViz(
    filename
)

Shape of your Data Set loaded: (935, 20)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  17
    Number of Integer-Categorical Columns =  1
    Number of String-Categorical Columns =  1
    Number of Factor-Categorical Columns =  0
    Number of String-Boolean Columns =  0
    Number of Numeric-Boolean Columns =  0
    Number of Discrete String Columns =  0
    Number of NLP String Columns =  0
    Number of Date Time Columns =  0
    Number of ID Columns =  1
    Number of Columns to Delete =  0
    20 Predictors classified...
        1 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['datetime']
To fix these data quality issues in the dataset, import FixDQ from autoviz...
    All variables classified into correct types.

Number of All Scatter Plots = 153